<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite 1">
    <test name="Demo/Practice TestNG XML File Set: 1">
        <classes>
            <class name="com.selenium.practice.Assignments.Assignment_1"/>
            <class name="com.selenium.practice.Assignments.Assignment_2"/>


        </classes>
    </test>
</suite>
